@import './index.scss';

.login-form {
    .ant.form-item:last-of-type {
        margin: 0;
    }
    &__input {
        .ant-input-prefix {
            i {
                font-size: 0em + 20px / $defaultFontSize;
            }
        }
        input {
            font-size: 0em + 19px / $defaultFontSize;
            padding : 6px 6px 3px 6px !important;
            &:focus {
                border-color: $primary-color;
                box-shadow: none;
            }
        }
    }

    &__button {
        width: 100%;
        font-size: 0em + 20px / $defaultFontSize;
        background-color: $primary-color;
        color: $font-light;
        height: 42px;
        margin-top: 10px;
        border-radius: 10px;

        &:hover {
            background-color: $primary-color-hover;
            color: $font-light;
        }
        &:focus,
        &:active {
            background-color: $primary-color;
        }
    }
}